main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
input {
  margin-right: 5px;
}
p {
  margin: 1px;
}

.main-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
}
.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.data,
.map,
.weather {
  width: 30%;
}
.movie,
.restaurant {
  width: 48%;
}

article {
  background-color: #79b669;
  margin-bottom: 20px;
  box-sizing: content-box;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.25s;
}
article:hover {
  box-shadow: 6px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.weather {
  display: flex;
  justify-content: center;
}
table {
  width: 100%;
}
#map {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon {
  width: 20px;
  height: 20px;
}

/* table data */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Title Title"
    "Name Namedata"
    "Lat Latdata"
    "Lon londata";
  height: 100%;
}

.title {
  justify-self: center;
  align-self: center;
  grid-area: Title;
  font-weight: bold;
}

.name {
  justify-self: center;
  align-self: center;
  grid-area: Name;
  font-weight: bold;
}

.lat {
  justify-self: center;
  align-self: center;
  grid-area: Lat;
  font-weight: bold;
}

.lon {
  justify-self: center;
  align-self: center;
  grid-area: Lon;
  font-weight: bold;
}

.namedata {
  align-self: center;
  grid-area: Namedata;
}

.latdata {
  align-self: center;
  grid-area: Latdata;
}

.londata {
  align-self: center;
  grid-area: londata;
}

h1 {
  text-align: center;
  padding-bottom: 3px;
}
